.button {
    border: none;
    background: none;
    height: calc(3vmax + 5px);
    border-radius: 4px;
    font-size: calc(1vmin + 7px);
    transition: .1s ease-in;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
 .button:hover{
    opacity: .7;
    cursor: pointer;
  }
  
 .button:active{
    opacity: 1;
  }