.toast{
   color: beige;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    animation: toast .3s 1 ease-in;
}

.toast button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: beige;
}

.toast button:hover{
    opacity:.5;
}

@keyframes toast {
    from{ opacity: 0;}
    to{ opacity: 1;}
    
}